<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="./css/bootstrap.min.css" rel="stylesheet" />
		<title>Weather App</title>
	</head>

	<body>

		{{>header}}

        <h1>404, Page not found!</h1>

		<script src="./js/popper.min.js"></script>
		<script src="./js/bootstrap.min.js"></script>
	</body>

</html>